p {
    /* تحديد نوع الخط المستخدم للفقرات */
    font-family: ; 

    /* تحديد حجم الخط (مثلاً 16px أو 20px) */
    font-size: ; 

    /* تحديد ثقل الخط (مثلاً bold ليكون عريضاً) */
    font-weight: ; 

    /* تحديد لون خلفية النص */
    background-color: ; 

    /* وضع صورة كخلفية للنص أو العنصر */
    background-image: ; 

    /* التحكم في تكرار الخلفية (هنا مكتوب no-repeat أي لا تتكرر الصورة) */
    background-repeat: no-repeat; 

    /* جعل الصورة تغطي كامل مساحة العنصر */
    background-size: cover; 

    /* تحديد لون النص باستخدام نظام الألوان RGB */
    color: rgba(red, green, blue, alpha); 

    /* جعل النص في منتصف السطر */
    text-align: center; 

    /* تحويل الحروف الإنجليزية إلى حروف كبيرة (Capital) */
    text-transform: uppercase; 

    /* تحويل الحروف الإنجليزية إلى حروف صغيرة */
    text-transform: lowercase; 

    /* التحكم في المسافة بين السطور (تباعد الأسطر) */
    line-height: 1.8; 

    /* جعل الخلفية ثابتة لا تتحرك عند تحريك الصفحة (Scroll) */
    background-attachment: fixed;
     /*بشيل الخط اللي تحت الينك  */
    text-decoration: none;
    border-radius: 25px;
    gap: 20px;
    padding: ;
    transform: scale();
    transition: ;
    border-radius: ;
    position: fixed;
    top: ;
    width: ;
    scroll
}