p{
    font-family: ;
    font-size: ;
    font-weight: ;
    background-color: ;
    background-image: ;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(red, green, blue, alpha);
    text-align: center;
    text-transform: uppercase;
    text-transform: lowercase;
    line-height: 1.8; 
    background-attachment: fixed;
    
}